
.slick-dots li.slick-active button:before {
    color:rgb(176, 173, 173) !important;
    font-size: 12px;
}
.slick-dots li button:before
{   
    color:rgb(137, 137, 137) !important;
    font-size: 8px;
}

#Start-ImageSelect
{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#Start-ImageSelect1
{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#NewImageUpload
{    transition: all 200ms;
 border: 1px solid gray;
 cursor: pointer;
 border-radius: 5px;
}
#NewImageUpload:hover
{
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.831);
   
    scale: 1.01;
    transition: all 200ms;
}

#NewImageUpload1
{    transition: all 200ms;
 border: 1px solid gray;
 cursor: pointer;
 border-radius: 5px;
}

#NewImageUpload1:hover
{
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.831);
   
    scale: 1.01;
    transition: all 200ms;
}